@spaceBetweenItems : 20px;

:host{
	.fill-remaining-space {
		flex: 1 1 auto;
	  }

	  .mat-card-title{
		  margin-bottom: @spaceBetweenItems;
	  }

	  .search-inputs{
		  text-align: center;
		  button{
			  margin-left: @spaceBetweenItems;
		  }
	  }

	  .search-results{
		  margin-top: @spaceBetweenItems;
		  .search-result{
			  cursor: pointer;
			  padding: 5px;
			  transition:background-color 0.3s ease-in-out;
			  border-radius: 5px;
			  background-color: inherit;
			  &:hover{
				  background-color: lightgray;
			  }
		  }
	  }
}