<div *ngIf="userName == ''; else searchSection">Waiting for login..</div>


<ng-template #searchSection>
	<mat-card>
		<mat-card-title>
			<mat-toolbar color="primary">
				<span>{{title}}</span>

				<span class="fill-remaining-space"></span>

				<span>Hello, {{userName}}! Let's start</span>
			</mat-toolbar>
		</mat-card-title>

		<mat-card-content>

			<mat-card class="search-inputs">

				<form>
					<mat-form-field>
						<input autocomplete="off" [readonly]="loading" matInput placeholder="search book name"
							(change)="bookName=$event.target.value" />
					</mat-form-field>
	
					<button [disabled]="loading" mat-button (click)="searchBooks()" >search</button>
				</form>

				<mat-progress-bar mode="indeterminate" *ngIf="loading" class="loader"></mat-progress-bar>
			</mat-card>

			<mat-card class="search-results" *ngIf="bookList.length > 0">
				<mat-list>
					<mat-list-item *ngFor="let book of bookList; let i = index" class="search-result"
						(click)="showDetails(book.title, book.description, book.image)">
						<p>{{pageStartIndex + i}}. {{book.title}}</p>
					</mat-list-item>
				</mat-list>

				<mat-paginator [length]="paginator.totalCount" [pageSize]="paginator.size"
				[pageSizeOptions]="[paginator.size]" (page)="getPage($event)"> </mat-paginator>

			</mat-card>

		</mat-card-content>

	</mat-card>

</ng-template>