:host .fill-remaining-space {
  flex: 1 1 auto;
}
:host .mat-card-title {
  margin-bottom: 20px;
}
:host .search-inputs {
  text-align: center;
}
:host .search-inputs button {
  margin-left: 20px;
}
:host .search-results {
  margin-top: 20px;
}
:host .search-results .search-result {
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
  background-color: inherit;
}
:host .search-results .search-result:hover {
  background-color: lightgray;
}
