<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
	<div *ngIf="image">
		<div [hidden]="!thumnailLoading">
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</div>
		<div class="image-wrapper">
			<img src="{{image}}" [hidden]="thumnailLoading" (load)="thumnailLoading = !thumnailLoading" />
		</div>
	</div>

	<div *ngIf="description">
		<p>{{description}}</p>
	</div>

	<div *ngIf="!description">
		<p>{{noDescription}}</p>
	</div>

</mat-dialog-content>

<br>

<mat-dialog-actions>
	<button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>