<form [formGroup]="myGroup" (ngSubmit)="submit(form)">
	<h1 mat-dialog-title>{{title}}</h1>
	<mat-dialog-content>
		<mat-form-field>
			<input autocomplete="off" matInput formControlName="name" placeholder="name">
		</mat-form-field>
		<br>
		<mat-form-field>
			<input type="password" matInput formControlName="password" placeholder="password">
		</mat-form-field>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button type="submit">LOGIN</button>
	</mat-dialog-actions>
</form>